In [ ]:
# Name: Souhard Kulkarni      Enrolment number: 14

Bag of Words

In [1]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [2]:
sentence_1 = "it was a good practice for us"                          # Code to find the list of all unique words present in the
sentence_2 = "it was also good to know about it"                      # three given strings
sentence_3 = "for all of us they have done a good practice"

In [3]:
unique_word_list = set(sentence_1.split() + sentence_2.split() + sentence_3.split())

In [4]:
print(unique_word_list)

{'it', 'for', 'practice', 'all', 'have', 'done', 'us', 'to', 'was', 'about', 'know', 'good', 'also', 'they', 'a', 'of'}

In [5]:
len(unique_word_list)

16

In [6]:
sentence_1 = "it was a good practice for us."
sentence_2 = "it was also good to know about it."
sentence_3 = "for all of us, they have done a good practice."

In [7]:
unique_word_list = set(word_tokenize(sentence_1) + word_tokenize(sentence_2) + word_tokenize(sentence_3))

In [8]:
print(unique_word_list)

{'it', 'for', 'practice', '.', 'all', 'have', 'done', 'us', 'to', 'was', 'about', ',', 'know', 'good', 'also', 'they', 'a', 'of'}

In [9]:
len(unique_word_list)

18

In [10]:
sentence_1 = "It was a good practice for us."
sentence_2 = "It was also good to know about it."
sentence_3 = "For all of us, they have done a good practice."

In [11]:
unique_word_list = set(word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower()) + word_tokenize(sentence_3.lower()))

In [12]:
print(unique_word_list)

{'it', 'for', 'practice', '.', 'all', 'have', 'done', 'us', 'to', 'was', 'about', ',', 'know', 'good', 'also', 'they', 'a', 'of'}

In [13]:
len(unique_word_list)

18

In [14]:
tokens = set(unique_word_list)

In [15]:
tokens

{',',
 '.',
 'a',
 'about',
 'all',
 'also',
 'done',
 'for',
 'good',
 'have',
 'it',
 'know',
 'of',
 'practice',
 'they',
 'to',
 'us',
 'was'}

In [16]:
df = pd.DataFrame(columns = list(tokens), index = [1, 2, 3])
df

,it,all,done,was,",",know,good,they,to,for,practice,.,have,us,about,also,a,of
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())
tokens3 = word_tokenize(sentence_3.lower())

In [18]:
tokens1, tokens2, tokens3

(['it', 'was', 'a', 'good', 'practice', 'for', 'us', '.'],
 ['it', 'was', 'also', 'good', 'to', 'know', 'about', 'it', '.'],
 ['for',
  'all',
  'of',
  'us',
  ',',
  'they',
  'have',
  'done',
  'a',
  'good',
  'practice',
  '.'])

In [19]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]
counts3 = [tokens3.count(x) for x in df.columns]

In [20]:
counts1, counts2, counts3

([1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0],
 [2, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0],
 [0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1])

In [21]:
df.iloc[0, :] = counts1
df.iloc[1, :] = counts2
df.iloc[2, :] = counts3

In [22]:
df

,it,all,done,was,",",know,good,they,to,for,practice,.,have,us,about,also,a,of
1,1,0,0,1,0,0,1,0,0,1,1,1,0,1,0,0,1,0
2,2,0,0,1,0,1,1,0,1,0,0,1,0,0,1,1,0,0
3,0,1,1,0,1,0,1,1,0,1,1,1,1,1,0,0,1,1

In [23]:
from sklearn.feature_extraction.text import CountVectorizer               # Importing the class Count Vectorizer

In [24]:
cv = CountVectorizer()                                                    # Creating the object of the count vectorizer

In [25]:
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])           # Applying the Bag of Words method

In [26]:
mydata.toarray()

array([[0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 1, 0, 2, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0]], dtype=int64)

In [27]:
cv.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [28]:
df = pd.DataFrame(data = mydata.toarray(), columns = cv.get_feature_names_out())

In [29]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0,0,0,0,1,1,0,1,0,0,1,0,0,1,1
1,1,0,1,0,0,1,0,2,1,0,0,0,1,0,1
2,0,1,0,1,1,1,1,0,0,1,1,1,0,1,0

N-Grams

In [30]:
cv = CountVectorizer(ngram_range = (1, 2))                                  # Creating the object of the count vectorizer

In [31]:
mydata = cv.fit_transform([sentence_1, sentence_2, sentence_3])             # Applying the BOW- N-Gram method

In [32]:
cv.get_feature_names_out()

array(['about', 'about it', 'all', 'all of', 'also', 'also good', 'done',
       'done good', 'for', 'for all', 'for us', 'good', 'good practice',
       'good to', 'have', 'have done', 'it', 'it was', 'know',
       'know about', 'of', 'of us', 'practice', 'practice for', 'they',
       'they have', 'to', 'to know', 'us', 'us they', 'was', 'was also',
       'was good'], dtype=object)

In [33]:
df = pd.DataFrame(data = mydata.toarray(), columns = cv.get_feature_names_out())

In [34]:
df

,about,about it,all,all of,also,also good,done,done good,for,for all,...,practice for,they,they have,to,to know,us,us they,was,was also,was good
0,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,0,0,...,0,0,0,1,1,0,0,1,1,0
2,0,0,1,1,0,0,1,1,1,1,...,0,1,1,0,0,1,1,0,0,0

TF*IDF Vectorizer

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer                 # Importing the class Tfidf Vectorizer

In [37]:
tfidf = TfidfVectorizer()                                                   # Creating the object of the vectorizer

In [38]:
new_data = tfidf.fit_transform([sentence_1, sentence_2, sentence_3])        # Applying the TF*IDF Vectorizer method

In [39]:
new_data.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.42246056,
        0.32807831, 0.        , 0.42246056, 0.        , 0.        ,
        0.42246056, 0.        , 0.        , 0.42246056, 0.42246056],
       [0.37162591, 0.        , 0.37162591, 0.        , 0.        ,
        0.21948825, 0.        , 0.56526217, 0.37162591, 0.        ,
        0.        , 0.        , 0.37162591, 0.        , 0.28263108],
       [0.        , 0.37571621, 0.        , 0.37571621, 0.28574186,
        0.22190405, 0.37571621, 0.        , 0.        , 0.37571621,
        0.28574186, 0.37571621, 0.        , 0.28574186, 0.        ]])

In [40]:
tfidf.get_feature_names_out()

array(['about', 'all', 'also', 'done', 'for', 'good', 'have', 'it',
       'know', 'of', 'practice', 'they', 'to', 'us', 'was'], dtype=object)

In [41]:
df = pd.DataFrame(data = new_data.toarray(), columns = tfidf.get_feature_names_out())

In [42]:
df

,about,all,also,done,for,good,have,it,know,of,practice,they,to,us,was
0,0.000000,0.000000,0.000000,0.000000,0.422461,0.328078,0.000000,0.422461,0.000000,0.000000,0.422461,0.000000,0.000000,0.422461,0.422461
1,0.371626,0.000000,0.371626,0.000000,0.000000,0.219488,0.000000,0.565262,0.371626,0.000000,0.000000,0.000000,0.371626,0.000000,0.282631
2,0.000000,0.375716,0.000000,0.375716,0.285742,0.221904,0.375716,0.000000,0.000000,0.375716,0.285742,0.375716,0.000000,0.285742,0.000000